[user]
	email = shining.sun0526@gmail.com
	name = Dz0526
[core]
	editor = vim
[alias]
	st = status
	br = branch
	d  = diff
	ci = commit
	a  = add
	ft = fetch
	ps = push
	mg = merge
	r  = rm
	lg = log
	ch = checkout
	cb = checkout -b
	cl = clone
[init]
	defaultBranch = main
