.vim/plugged/

.config/google-chrome
.config/fontforge
.config/fcitx
.config/pulse
.config/dconf/user
.config/discord
.config/VirtualBox
.config/vlc
.config/Slack
.config/Microsoft
.config/Code
.config/teams
